body {
  background-color: initial;
}

#EvaS {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#IvaC {
  background-color:<#228B22>;
  font-family: initial;
  color: initial;
}

#IvaS {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#KaterinaV {
  background-color: initial;
  font-family: initial;
  color: initial;
}
