body {
  background-color: initial;
}

#EvaS {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#IvaC {
  background-color:darkgreen;
  font-family:cursive;
  color:burlywood initial;
}

#IvaS {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#KaterinaV {
  background-color: plum;
  font-family: initial;
  color: purple;
}
