body {
  background-color: initial;
}

#EvaS {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#IvaC {
  background-color: lightcoral;
  font-family: serif;
  color: black;
}

#IvaS {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#KaterinaV {
  background-color: initial;
  font-family: initial;
  color: initial;
}
